
body {
    font-family: Arial;
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
    font-family:  sans-serif;
}

tr {
    background-color: #f2f2f2;
}


header, nav, main, footer {
    margin: 30px;
    padding: 5px;
    font-family:  sans-serif;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap:10px;

}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
 
}

main {
    display: flex;
}

#mainpage {
    width: 70%;
    padding: 10px;
    text-align: left;
}
header {
    background-color: #d171a1;

}

nav {
    background-color: #b67add;
}

aside {
    width: 30%;
    padding: 10px;
    background: #e37ec2;
}

footer {
    background-color: #6399f1;

}

/* Media Query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    #mainpage{
        width: 100%;
    }
    body {
        max-width: 100%;
    }

   

    aside {
        width: 100%;
    }
}

/* Media Query for screens smaller than 480px */
@media screen and (max-width: 480px) {
    header {
        font-size: 18px;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}